# Git (keep .git for version detection)
.gitignore
.github

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
.dockerignore
docker-compose.yml

# Tests
**/tests/
pytest.ini

# Documentation
docs/
# Exclude all markdown files except README.md
*.md
!README.md

# Local development
po-files/
.idea/
.vscode/
*.swp